
body {
    font-family: poppins-regular, sans-serif;
}

a {
    color: #fff;
}

.home-right {
    border-radius: 0 0 0 120px;
    background-image: -moz-linear-gradient(115deg, rgb(37, 58, 131) 0%, rgb(32, 152, 213) 100%);
    background-image: -webkit-linear-gradient(115deg, rgb(37, 58, 131) 0%, rgb(32, 152, 213) 100%);
    background-image: -ms-linear-gradient(115deg, rgb(37, 58, 131) 0%, rgb(32, 152, 213) 100%);
    background-color: #2285c8;
}


.home-container {
    margin: 0 20rem;
    color: #fff;
    top: 0;
    left: 0;
}

.cm-btn-round {
    border-radius: 24px 0 24px 24px;
    background-color: #fff;
}


.home-image {
    height: 60vh;
    top: 20%;
    width: 70%;
    margin: 0;
    -webkit-box-shadow: 0 83px 117.8px 37.2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 83px 117.8px 37.2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 83px 117.8px 37.2px rgba(0, 0, 0, 0.06);
    float: right;
    right: 0;

    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 60%;
}


.home-vertical {

    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Safari */
    transform: rotate(-90deg) translate(-100%, 0); /* Standard syntax */
    justify-content: center;
    display: flex;
    transform-origin: left top;
    position: absolute;
    float: left;
    width: 100vh;
    margin-bottom: auto;
    left: 0;
    top: 0;
    font-family: bauerbodoni-std, serif;
    color: #253a83;

}

.nav-link {
    font-size: 16.667px;
    margin: 0 10px;
}


.home-body > h2 {
    font-family: poppins-bold, sans-serif;
}

.home-body > p {
    font-size: 0.95em;
}

.home-body > button {
    font-family: poppins-medium, sans-serif;
    font-size: 0.9em;
    padding: 10px 15px;
}

.service-main-text {
    font-size: 2em;
    font-family: poppins-bold, sans-serif;
}

.service-head {
    font-family: poppins-medium, sans-serif;
}


.service-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;

    -webkit-box-shadow: 0 17px 23.1px 11.9px rgba(0, 0, 0, 0.04);
    -moz-box-shadow: 0 17px 23.1px 11.9px rgba(0, 0, 0, 0.04);
    box-shadow: 0 17px 23.1px 11.9px rgba(0, 0, 0, 0.04);

    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 40%;

}

.about-img {
    box-shadow: 0 40px 36.72px 14.28px rgba(0, 0, 0, 0.06);
    height: 70vh;
}

.about-head {
    font-size: 2em;
    font-family: poppins-bold, sans-serif;
}

.about-body {
    font-size: 0.9em;
    color: #777c87;
    font-family: poppins-regular, sans-serif;
}

.workflow-test {
    /*height: 223px;*/
}

.workflow-title {
    font-size: 2em;
    font-family: poppins-bold, sans-serif;
}

.workflow-head {
    font-size: 1.2em;
    font-family: poppins-medium, sans-serif;
}

.workflow-body {
    font-size: 0.9em;
    font-family: poppins-regular, sans-serif;
}

.c-outer {
    /*background-color: blue;*/
    width: 50vh; /* You can define it by % also */
    height: 50vh; /* You can define it by % also */
    position: relative;
    border: 1px solid black;
    border-radius: 50%;
}

.c-inner {
    /*background-color: lime;*/
    top: 15%;
    left: 15%; /* of the container */
    width: 70%; /* of the outer-1 */
    height: 70%; /* of the outer-1 */
    position: absolute;
    /*border: 1px solid black;*/
    border-radius: 50%;
    border-style: dashed;
    border-width: 1.5px;
    border-color: rgb(137, 137, 137);
    background-color: rgba(255, 255, 255, 0);
}

.c-inner2 {
    background-image: -moz-linear-gradient(115deg, rgb(37, 58, 131) 0%, rgb(32, 152, 213) 100%);
    background-image: -webkit-linear-gradient(115deg, rgb(37, 58, 131) 0%, rgb(32, 152, 213) 100%);
    background-image: -ms-linear-gradient(115deg, rgb(37, 58, 131) 0%, rgb(32, 152, 213) 100%);
    top: 30%;
    left: 30%; /* of the container */
    width: 40%; /* of the inner-1 */
    height: 40%; /* of the inner-1 */
    position: absolute;
    /*border: 1px solid black;*/
    border-radius: 50%;
}

.c-inner3 {
    top: 31.5%;
    left: 31.5%; /* of the container */
    width: 37%; /* of the outer-1 */
    height: 37%; /* of the outer-1 */
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-width: 1.5px;
    border-color: #fff;
    background-color: rgba(255, 255, 255, 0);
}

.workflow-logo {
    filter: brightness(0) invert(1);
    width: 50%;
    left: 25%;
    top: 35%;
    position: absolute;
}

